<div class="col-sm-3 offset-sm-1 blog-sidebar">
  <div class="sidebar-module sidebar-module-inset">
    <h4>About</h4>
    <p>Developing is both my passion and my best ally for mastery.</p>
  </div>

  <div class="sidebar-module">
    <h4>Elsewhere</h4>
    <ol class="list-unstyled social-links">
      <li><a href="https://github.com/truthyTester"><%= fa_icon "github" %></a></li>
      <li><a href="https://www.instagram.com/ofactor10/"><%= fa_icon "instagram" %></a></li>
      <li><a href="https://www.facebook.com/ofactor"><%= fa_icon "facebook" %></a></li>
      <li><a href="https://twitter.com/truthyTester"><%= fa_icon "twitter" %></a></li>
    </ol>
  </div>
</div>
