<div class="inner cover">
  <h1 class="cover-heading">About Me</h1>
  <p class="lead">With over two decades of development experience in a number of industries I realized
  that the typical product creation process between clients and developers was flawed. All too often
  developers rarely communicate to clients throughout the development stage, resulting in product that
  fails to reach the goal sought by the customer and the end user. </p>

  <hr></<hr>

  <p class="lead">For this reason I decided to utilize a completely different development patterns. When
  I take on a project not only do I work to craft the application according to the client's specification
  , I give daily updates to ensure that the project is aligning properly with the client's goals. The
  end result is the right product, delivered on time, and on budget.</p>
</div>
